*~
*.swp
*.swo
/apps/vivaldi/Local App Settings/mpognobbkildjkofajifpdfhcoklimli/CURRENT
/apps/vivaldi/Local App Settings/mpognobbkildjkofajifpdfhcoklimli/MANIFEST-000001
/apps/vivaldi/Local App Settings/mpognobbkildjkofajifpdfhcoklimli/LOCK
/apps/vivaldi/Local App Settings/mpognobbkildjkofajifpdfhcoklimli/LOG.old
/apps/vivaldi/Local App Settings/mpognobbkildjkofajifpdfhcoklimli/LOG
